<div class="main-component__wrapper">
    <div class="main-component__mobile">
        <ng-container *ngIf="!_isPreviewOfLevel">
            <div class="main-component__mobile-header">Уровень {{ _currentLevel }}</div>
            <div class="main-component__mobile-field">
                <div *ngFor="let row of _sortedWords" class="main-component__mobile-field-row">
                    <div
                        *ngFor="let letter of row.word"
                        class="main-component__mobile-field-row-letter"
                        [style.background-color]="row.guessed ? '#65BD65' : '#F2F2F2'"
                    >
                        {{ row.guessed ? letter : '' }}
                    </div>
                </div>
            </div>
            <div class="main-component__mobile-word">
                <div *ngFor="let letter of _enteringWord" class="main-component__mobile-word-letter">{{ letter.value }}</div>
            </div>
            <div class="main-component__mobile-select">
                <div
                    *ngFor="let item of _lettersWithLayout"
                    class="main-component__mobile-select-letter"
                    [id]="item.letter.id"
                    (mousedown)="_onLetterClick(item.letter)"
                    (mouseenter)="_onLetterHover(item.letter)"
                    (touchstart)="_onLetterClick(item.letter)"
                    (touchmove)="_onTouchMove($event)"
                    [style.top]="item.coordinates.y"
                    [style.left]="item.coordinates.x"
                    [style.background-color]="_enteringWord.includes(item.letter) ? '#E96FA4' : '#FFFFFF'"
                    [style.color]="_enteringWord.includes(item.letter) ? '#FFFFFF' : '#4D4D4D'"
                    [style.box-shadow]="_enteringWord.includes(item.letter) ? '0 4px 0 0 #AF638C' : '0 4px 0 0 #A6A8AB'"
                >
                    {{ item.letter.value }}
                </div>
                <div class="main-component__mobile-select-inner-circle"></div>
                <div class="main-component__mobile-select-outer-circle"></div>
<!--                <div class="main-component__mobile-levelComplete-button" (click)="_startNewLevel()">-->
<!--                    Level {{ _currentLevel + 1 }}-->
<!--                </div>-->
<!--                <div (click)="_startNewLevel()">-->
<!--                    Level {{ _currentLevel + 1 }}-->
<!--                </div>-->
            <!--            <div-->
            <!--                *ngFor="let letter of availableLettersInHTML"-->
            <!--                class="main-component__mobile-select-letter"-->
            <!--                (mousedown)="_onLetterClick(letter)"-->
            <!--                (mouseenter)="_onLetterHover(letter)"-->
            <!--                (touchstart)="_onLetterClick(letter)"-->
            <!--                (touchmove)="_onTouchMove($event)"-->
            <!--            >-->
            <!--                {{ letter.letter }}-->
            <!--            </div>-->
            </div>
        </ng-container>
        <ng-container *ngIf="_isPreviewOfLevel">
            <div class="main-component__mobile-levelComplete-complete">
                Уровень {{ _currentLevel }} пройден
            </div>
            <div class="main-component__mobile-levelComplete-amazing">
                Изумительно!
            </div>
            <div class="main-component__mobile-levelComplete-button" (click)="_startNewLevel()">
                Level {{ _currentLevel + 1 }}
            </div>
        </ng-container>

        <div class="main-component__mobile-popup-wrapper" *ngIf="_isPopupSeveralTabsVisible">
            <div class="main-component__mobile-popup-content">
                <div class="main-component__mobile-popup-content-header">
                    <svg xmlns="http://www.w3.org/2000/svg" width="384" height="113" viewBox="0 0 384 113" fill="none">
                        <path d="M367.931 5.80324H16.0685V57.5004C16.0685 70.5819 25.5607 81.8402 38.7335 84.3888L182.08 112.152C187.882 113.274 193.857 113.284 199.664 112.172L345.201 84.2968C358.404 81.7676 367.926 70.4948 367.926 57.394V5.80324H367.931Z" fill="#CA5428"/>
                        <path d="M368 0H16V51.6023C16 64.6597 25.4959 75.8974 38.6739 78.4413L182.077 106.154C187.881 107.274 193.858 107.284 199.667 106.173L345.261 78.3495C358.469 75.8249 367.995 64.5729 367.995 51.4961V0H368Z" fill="#EC6B3A"/>
                        <path d="M1.97835 19L16 0V19H0" fill="#9A4626"/>
                        <path d="M382.022 19L368 0V19H384" fill="#9A4626"/>
                    </svg>
                    <span>Две вкладки</span>
                    <span>с игрой?</span>
                </div>
                <div class="main-component__mobile-popup-content-text">
                    Похоже, игра открыта в нескольких вкладках браузера. Чтобы продолжить играть в этой вкладке, обновите страницу.
                </div>
                <div class="main-component__mobile-popup-content-button" (click)="_reloadPage()">
                    Обновить
                </div>
            </div>
        </div>
    </div>

</div>
